* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 20px;
}

.btn {
  padding: 10px 20px;
}

.acccordian {
  width: 500px;
}

.item {
  padding: 10px 20px;
  margin-bottom: 20px;
  width: 500px;
  box-shadow: 0 0.2px 6px rgba(0, 0, 0, 0.22);
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.content {
  padding: 0 20px 20px 0;
  text-align: justify;
}
