<!DOCTYPE html>
<html lang="en" ng-app="">
<head>
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"> </script>
</head>
<body>
    
    <div >
        <label> Font Size: </label>
        <input type="number" ng-model="font" ><br>
        <label> Enter font color: </label>
        <input type="text" ng-model="fontCol" ><br>
        <label> Enter background color: </label>
        <input type="text" ng-model="colchange"><br>
    </div>
    <h1 style="font-size: {{font}}px; color: {{fontCol}}; background-color: {{colchange}};"> Angular JS </h1>

</body>
</html>