*{
    text-transform: capitalize  ;
    padding: 0;
    margin: 0;
}

#id0{
    background-color: black;
    border-color: white;
    height: 60px;
}

#id1{
    color: green;
    text-decoration: none;
    margin-right: 200px;
}
#id2,#id3,#id4{
    color: white;
    margin-right: 200px;
}

button{
    background-color: green;
    color: white;
    margin-right: 200px;
}