div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid red;
    text-align: center;
    font-size: large;
}

#box1{
    position: static;
}
#box2{
    position: relative;
    top: 20px;
}
#box3{
    position: absolute;
    top: 500px;
}
#box4{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}