  .back{
    /* background-color:#121111 ; */
    background-image: url("../saves//bg1.jpg");
    background-size: cover;
    min-height: 100vh;
  }
  .back1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .imglink{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 150px;
    width: 100%;
  }

  img:hover{
    border: 5px solid rgb(197, 9, 9);
  }
  .main-title {
    font-size: 4rem;
    color: white;
    font-family: Anurati, sans-serif;
    letter-spacing: 5px;
  }
  
  .algo-name {
    font-size: 22px;
    font-weight: 700;
    color: white;;
  }

