*
{
    margin: 0px;
    font-family: Arial;
    border: border-box;/*brder take size within height and width given for box */
}

.navbar
{
    background-color: #0f1111;
    height: 60px;
    color:white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo
{
    height: 50px;
    width: 110px;
} 
.logo
{
    height: 50px;
    width: 110px;
    background-size: cover; /*resizing the  image to cover the whole background*/
    background-image: url("amazon_logo.png");
}

.border
{
    border: 1.5px solid transparent;
}
.border:hover
{
    border: 1.5px solid white;
}

/* address_box */
.nav-address
{
    margin-left: 0.8rem;
}
.first-address
{
    margin-left: 17px;
    font-size: 0.7rem;
    color: #cccccc;
}


.address-icon
{
    display: flex;
}

.second-address
{
    margin-left: 0.6rem;
}

/* box3-search */

.search-bar
{
    display: flex;
    width: 650px;
    height: 40px;
    background-color: antiquewhite;
    border-radius: 4px;
}

.select-search
{
    height:40px;
    background-color: antiquewhite;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 45px;
    text-align: center;
}
.search-input
{
    height: 35px;
    width: 100%;
    border: none;
}

.search-icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    font-size: 1.3rem;
    background-color:rgb(237, 180, 10);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* box4 */
.first-signin{
    font-size: 0.75rem;
    font-weight: 300;
}

.second-signin{
    font-size: 0.9rem;
    font-weight: 700;
}

.nav-cart{
    display: flex;
    align-items: center;
}

.nav-cart i{
    font-size: 1.7rem;
}

.cart{
    font-weight: 700;
    margin-left: 4px;
    font-size: 0.9rem;
    margin-top: 0.6rem;
}

.panel{
    background-color: #222f3d;
    display: flex;
    color: white;
    height: 2.5rem;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 700;
    font-size: 0.9rem;
}

.panel-links{
    display: flex;
    width: 65%;
}
.panel-links p{
    /* display: inline; */
    margin-left: 15px;
}

/* body hero container */

.hero-container
{
    height: 440px;
    background-size: cover;
    background-image: url("hero_image.jpg");
    display: flex;
    justify-content: center;
    color: black;
    background-color: antiquewhite;

}

.hero-container p{
    background-color: rgb(244, 245, 238);
    margin-top: 400px;
    height: 2rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-radius: 3px;
    font-weight: 500;
}